
:root {
  --primary-color: #182833;
  --secondary-color: #153040;
  --tertiary-color: #1F4762;
  --quarternary-color: #FDA300;
  --quinary-color: #FFC619;
  --senary-color:#E09F5A;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  background-color: rgba(224, 159, 90, 0.3);
}